body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
}

input {
  padding: 5px;
}

button {
  background-color: #3e50b4;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: white;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.25);
}
button:hover {
  cursor: pointer;
}

.header {
  background-color: #3e50b4;
  padding: 30px 40px 10px 40px;
}
.header h1,
.header p {
  color: white;
}


.content {
  max-width: 900px;
  padding: 30px;
}
